<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>
    <form method="POST" action="/login">
      <label>Email:</label>
      <input type="email" name="email">
      <br><br>
      <input type="submit" value="Submit">
    </form>
    <br>
    <h2>Images:</h2>
    {% if images %}
      {% for image in images %}
        <button>
            <img src="{{ image }}" width="300" height="200">
        </button>
      {% endfor %}
    {% else %}
      <p>No images found.</p>
    {% endif %}
  </body>
</html>